:root {
  --dark: #386468;
  --dark-gray: #6b6b6b;
  --light: #defcff;
  --light-gray: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #386468;
    --light-gray: #6b6b6b;
    --dark: #defcff;
    --dark-gray: #ededed;
  }

  img {
    filter: invert(100%);
  }
}

* {
  box-sizing: border-box;
  min-height: 0;
}

a {
  text-decoration: underline;
}

body {
  align-items: stretch;
  display: grid;
  height: 100vh;
  height: 100dvh;
  justify-items: stretch;
  z-index: auto;
}

button {
  display: grid;
  padding: 1vmin 2vmin;
  place-items: center;
}

button.listDisplay {
  box-sizing: border-box;
  display: flex;
  border: none;
  border-bottom: 1px solid var(--dark);
  border-radius: 0;
  gap: 0.5rem;
  justify-self: stretch;
}

button.listDisplay:hover img {
  border: none;
  filter: invert(100%);
}

div.conversation {
  align-content: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

div.conversation > div {
  align-content: start;
  align-items: start;
  align-self: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  gap: 1vh;
  height: 100%;
  min-height: 0;
  overflow: scroll;
  padding: 1vh 1vw;
  width: min(95%, 600px);
}

div.conversation > div > div {
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: var(--dark);
  flex: 0 0 auto;
  min-height: 1rem;
  padding: 0.5rem;
}

div.conversation > div > div.sent {
  background-color: var(--light);
  align-self: end;
}

div.conversation > div > div.received {
  background-color: var(--light-gray);
  align-self: start;
}

div.conversation > form {
  align-content: center;
  background-color: var(--light-gray);
  border-top: 1px solid var(--dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vmin;
}

div.conversation > form > label {
  flex-grow: 1;
  max-width: 500px;
}

div.list {
  align-content: start;
  border-left: 0.5rem solid var(--dark);
  border-right: 0.5rem solid var(--dark);
  display: grid;
  justify-content: stretch;
}

.errorMessage {
  align-self: start;
  background-color: #ff7e7e;
  border-radius: 1vmin;
  font-weight: bold;
  margin: 2vh 0;
  padding: 1vh 2vw;
}

footer,
header {
  align-items: center;
  background-color: var(--dark);
  color: var(--light-gray);
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0.5vh 2vw;
}

form {
  align-content: start;
  display: grid;
  gap: 2vh;
  gap: 2dvh;
  justify-items: center;
}

header {
  justify-content: space-between;
  position: relative;
  z-index: auto;
}

html {
  height: 100vh;
  height: 100dvh;
}

label {
  border-radius: 0.5vmin;
  display: grid;
  padding: 0.5vmin;
}

input:required + span::after {
  color: #ff0000;
  content: "*";
}

main {
  align-self: stretch;
  display: grid;
  flex: 1 1 auto;
  justify-items: center;
  opacity: 80%;
  padding: 1vh 1vw;
  position: relative;
  z-index: auto;
}

main.flex {
  display: flex;
  padding: 0;
}

main button {
  background-color: var(--light);
  border: 1px solid var(--dark);
  color: var(--dark);
  padding: 0.5rem 1.5rem;
}

main button:hover {
  background-color: var(--dark);
  border: 1px solid var(--light);
  color: var(--light);
}

main > div {
  display: grid;
  flex-grow: 1;
  height: 100%;
  justify-content: stretch;
  justify-items: stretch;
  z-index: auto;
  width: 100%;
}

nav {
  align-content: start;
  display: grid;
}

.placeholder {
  flex-shrink: 0;
  height: 2.15rem;
}

#root {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  margin: 0 uto;
  min-height: 200px;
  padding: 0;
  text-align: center;
  width: max(100vw, 200px);
}

#settingsMenu {
  background-color: var(--light);
  border: 1px solid var(--dark);
  color: var(--dark);
  display: grid;
  gap: 0.5vh;
  justify-items: stretch;
  margin-right: 2vw;
  padding: 1vh 1vw;
  position: absolute;
  right: 0;
  top: 100%;
  visibility: hidden;
  width: min(50vw, 300px);
  z-index: 1;
}

#settingsMenu.hidden {
  visibility: hidden;
}

#settingsMenu.visible {
  visibility: visible;
}

#settingsMenu button {
  background-color: #ffffff00;
  border-bottom: 1px solid var(--dark);
  border-radius: 0;
}

#settingsMenu button:last-child {
  border-bottom: 1px solid #ffffff00;
}

#settingsMenu button:hover {
  background-color: var(--dark);
  color: var(--light);
}

#settingsMenu li,
#settingsMenu ul {
  display: grid;
  list-style-type: none;
  justify-items: stretch;
  margin: 0;
  padding: 0;
}

#sidebar {
  background-color: var(--light);
  border-right: 1px solid var(--dark);
  color: var(--dark);
  height: 100%;
  left: 0;
  max-width: 100vw;
  min-width: 200px;
  position: absolute;
  top: 0;
  width: max-content;
}

#sidebarMenuButton {
  left: min(2vw, 1rem);
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: min(1vh, 1rem);
  z-index: 1;
}
